footer {
    background: #303030;
    padding: 40px;

    h5 {
        font-family: 'Arial';
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color:$color_1;
    }
}